<h4 class="header-title">Recent Collections</h4>
<p class="header-text">Discover the Recent NFT Project each day</p>
<div class="container">
  <form>
    <div class="form-group form-inline justify-content-end mr-2">
      <input class="form-control form-control-sm mr-3" style="font-size: 12px;" type="text" [formControl]="filter"
        placeholder="Collection Name" /> Search
    </div>
  </form>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th class="text-center" scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections$; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-truncate">
            <img [src]="collection.image" class="mr-1 rounded-circle" style="width: 20px">
            <ngb-highlight class="ml-1" [result]="collection.name" [term]="filter.value">{{ collection.name }}</ngb-highlight>
          </td>
          <td class="text-center">
            <ngb-highlight [result]="collection.link">{{ collection.link }}</ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-center p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshCollections()">
    </ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCollections()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>
</div>
