<div class="container-fluid">
  <section>
    <div class="hero-section">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 class="hero-title">Discover, Search extraordinary NFTs With us</h1>
          <h2 class="hero-sub-title">The best platform to see most recent, promising NFT projects quickly and easily
          </h2>
          <div><a href="#about" class="btn btn-see-more">See more</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/images/hero-img.png" class="img-fluid" alt="hero image">
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container project-brief">
      <div class="brief">
        <div class="brief-header">
          <h3>Our goal</h3>
        </div>
        <div class="brief-text">
          <p>Develop a distributed web application based on the spring architecture technology , that allows us to
            launch a scraping process to collect data from multiple websites, analyse then display it.</p>
        </div>
      </div>
      <div class="brief">
        <div class="brief-header">
          <h3>What we've done</h3>
        </div>
        <div class="brief-text">
          <p class="mb-4">Scrapping to collect Data about NFT collections (Recent collections / Top collections / All Collections with details) using Selenium and we Store it in MongoDB.</p>
          <p class="mb-4">Develop a Web application using Angular for Admin side with Spring Boot in the backend to analyse the stored data.</p>
          <p class="mb-4">A mobile app using Ionic to display those NFTs in a modern design.</p>
        </div>
      </div>
      <div class="project-team">
        <h4 class="team-header">Our Team</h4>
        <div class="team">
          <span>El KHATAB Bilal</span>
          <span>CHIBOUB Mehdi</span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="feature">
      <div class="feature-image"></div>
      <div class="feature-content">
        <h3 class="feature-header">Data Analysis process & Clustering</h3>
        <p class="feature-text">Learn More. Take a look and try our service right now.</p>
        <button routerLink="/collections" class="btn see-more">discover</button>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-text">
      <p>Copyright <i class="far fa-copyright"></i> 2021. All Rights Reserved.</p>
    </div>
  </footer>
</div>
