.container-fluid {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  color: #000000;
  overflow-x: hidden;
  background-color: #fbfcfe;

  .header-title {
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: 700;
    letter-spacing: -0.003em;
  }

  .container {
    margin: 0;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding: 30px !important;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .content {
      overflow-x: scroll;
      width: 100%;
      margin: auto;

      .table {
        background-color: #fbfcfe;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
      }

      .table td,
      .table tr,
      tbody th {
        border-width: 5px !important;
        border-color: #fff !important;
      }

      .table th {
        border-color: #fff !important;
      }

      td {
        padding: 6px;
        font-size: 14px;
        vertical-align: middle;
      }

      th {
        padding: 10px;
        font-size: 14px;
        vertical-align: middle;
      }
    }

    .custom-select {
      font-size: 14px;
      color: #000000;
    }
  }
}
